*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
    position: relative;
    margin-right: 10px;
    .iconSearch{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0 ,-50%);
    }
    .box{
        position: absolute;
        top: 40px;
        right: 0;
        width: 150%;
        background: rgba(255,255,255,0.8);
        border-radius: 10px;  
        ul{ 
            padding:0;
            li{ 
                padding:0 20px;
                text-align: left;
                list-style: none;
                display: block; 
                font-size: 14px;
                color:#334242;
                font-weight: bold;
                cursor: pointer;
                margin: 15px 0;
            }
        }
    } 
}